# OS
.DS_Store
Thumbs.db

# Java / Maven (desafio-produtos)
desafio-produtos/target/
desafio-produtos/.idea/
desafio-produtos/*.iml
desafio-produtos/.mvn/wrapper/maven-wrapper.jar

# Node / Angular (frontend/desafio-produtos-front)
frontend/desafio-produtos-front/node_modules/
frontend/desafio-produtos-front/dist/
frontend/desafio-produtos-front/.angular/
frontend/desafio-produtos-front/tmp/
frontend/desafio-produtos-front/out-tsc/

# Logs & coverage
*.log
coverage/
